{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
Player Registration
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Player Registration</h1>

      <p class="lead">Fill this form with the relevant information and then press submit</p>

      {{ wtf.quick_form(form) }}

      <p class="pt-5" style="margin-top:5%;color:tomato"><strong>{{ message }}</strong></p>

    </div>
  </div>
</div>

<script>
    let sport_select = document.getElementById('sportName');
    let league_select = document.getElementById('leagueName');

    sport_select.onchange = function() {
        console.log(league_select.options)
        sport  = sport_select.value;
        fetch('/get-league/' + sport).then(function(response){
            
            response.json().then(function(data) {
                let optionHtml = '';

                for (let league of data.league_names){
                    console.log(league.name);
                    optionHtml += '<option value="' + league.name + '">' + league.name + '</option>';
                }

                league_select.innerHTML = optionHtml;
            });
        });
    }
</script>

<script>
    let team_select = document.getElementById('teamName');

    league_select.onchange = function() {
        league  = league_select.value;
        fetch('/get-team/' + league).then(function(response){
            
            response.json().then(function(data) {
                let optionHtml = '';

                for (let team of data.team_names){
                    console.log(team.name);
                    optionHtml += '<option value="' + team.name + '">' + team.name + '</option>';
                }

                team_select.innerHTML = optionHtml;
            });
        });
    }
</script>

{% endblock %}