{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
Score Recording
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Score Recording</h1>

      <p class="lead">Fill this form with the relevant information and then press submit</p>

      {{ wtf.quick_form(form) }}

      <p class="pt-5" style="margin-top:5%;color:green"><strong>{{ success_message }}</strong></p>
      <p class="pt-5" style="margin-top:5%;"><a href="//localhost:5000/home">Go Home</a></p>
    </div>
  </div>
</div>

<script>
    let date_select = document.getElementById('date');
    let home_select = document.getElementById('homeTeamName');
    let away_select = document.getElementById('awayTeamName');

    date_select.onchange = function() {
        date  = date_select.value;
        fetch('/get-lineup/' + date).then(function(response){
            
            response.json().then(function(data) {
                let optionHtml = '';
                let optionHtml1 = '';
                for (let team of data.matchData){
                    optionHtml += '<option value="' + team.homeTeamName + '">' + team.homeTeamName + '</option>';
                    optionHtml1 += '<option value="' + team.awayTeamName + '">' + team.awayTeamName + '</option>';
                }

                home_select.innerHTML = optionHtml;
                away_select.innerHTML = optionHtml1;
            });
        });
    }
</script>


{% endblock %}